@inherits RazorBlade.PlainTextTemplate<MDSummaryData>
@{
    var name = Model.nameSolution;
    var nameFolder = name + "_summary";
    var gitInfo = GlobalsForGenerating.gitInfo;

}

# Summary for @name

@if (gitInfo != null)
{
    <text>
    Repo : @gitInfo?.Repository
    
    Branch : @gitInfo?.Branch 
    
    Commit : @gitInfo?.Commit
    </text>
}

## StackTower Optimal

![StackTower](./images_@(nameFolder + "/" + name + "_tower_optimal.svg"))

## Project relations

![Project relations](./images_@(nameFolder)/projects-without-tests.png)



## Project Data

### All Classes per project

![Class per project](./images_@(nameFolder)/Number-class-per-project.png)

### Number lines per project

![Number lines per project](./images_@(nameFolder)/Number-exec-lines-per-project.png)


## Class data

### Number methods per class

![Number-methods-per-class](./images_@(nameFolder)/Number-methods-per-class.png)

### Number lines per class
![Number-exec-lines-per-class](./images_@(nameFolder)/Number-exec-lines-per-class.png)

## Method data

### Cyclomatic complexity per method

![Cyclomatic-Complexity-for-Method](./images_@(nameFolder)/Cyclomatic-Complexity-for-Method.png)

### Maintainability index per method
![Maintainability-for-Method](./images_@(nameFolder)/Maintainability-for-Method.png)

### Number lines per method
![Number-exec-lines-per-method](./images_@(nameFolder)/Number-exec-lines-per-method.png)



## Commits

### File with most commits

![Files-with-commits](./images_@(nameFolder)/Files-with-commits.png)

### Commits per year and project

![Commits per year and project](./images_@(nameFolder)/commits-year-project.png)

## Packages

### Packages

![Packages](./images_@(nameFolder)/Problems-Package.png)

![Packages](./images_@(nameFolder)/Problems-Package-table.png)

### Generation data

Generated  by https://www.nuget.org/packages/NetPackageAnalyzerConsole</a>
    
version @GlobalsForGenerating.Version with @GlobalsForGenerating.NameVersion 

Generated on @DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm:ss") 