@inherits RazorBlade.PlainTextTemplate<Tuple<string,PackageWithVersion[]>>;
@{
    var name= Model.Item1;
    var packages = Model.Item2;
    string nameId= name.Replace(" ", "-");
    var nl=Environment.NewLine;
    if(packages.Length==0)
    {
        return;
    }
}
<div id="@(nameId+"-table")" title="image @(nameId+"-table")"></div>

<script>
    var tabledata = [
    @foreach (var item in packages)
    {
        var childrenArr = item.Why.Select(x => $"{{ {nl} Name : '{x.ProjectName()}'  , {nl}  Why :`{nl} <pre>{x.WhyText}<pre>`}}");
        var children = string.Join(",", childrenArr);

        <text>
                {
                    "Name": "@item.PackageId.Replace("\\", "\\\\")", 
                    "Why": "Click Me to expand/collapse",
                    "_children":[@children]

                },
        </text>
    }
    ];
    var table = new Tabulator("@("#" + nameId + "-table")", {
        data: tabledata,
        dataTree: true,
        dataTreeStartExpanded: false,
        layout: "fitColumns",
        pagination: "local",
        paginationSize: 10,
        paginationSizeSelector: [10,20,50,100],
        movableColumns: true,
        paginationCounter: "rows",
        columns: [
            { formatter: "rownum", hozAlign: "center", width: 40 },
            {
                title: "Name", field: "Name", headerFilter: "input", cellClick: function(e, cell) {
                    //window.alert('expand me');
                    cell.getRow().treeToggle();

                },
            },
            {
                title: "Show Projects", 
                field: "Why", 
                formatter:"html",
                headerFilter: "input", 
                cellClick: function(e, cell) {
                    //window.alert('expand me');
                    cell.getRow().treeToggle();

                },
            },
        ],
    });

</script>
