@inherits RazorBlade.PlainTextTemplate<Dictionary<int,NamePerCount[]>>;
@{
    var names = Model
    .Values
    .SelectMany(it => it)
    .Select(it=>it.Name)
    .Distinct()
    .OrderBy(it => it)
    .ToArray();

    var legendData = 
    string.Join(",",names.Select(it =>$"'{it}'")
    .ToArray());
    var years = Model.Keys
        .OrderBy(it => it)
        .ToArray(); 
    var yAxisData = 
    string.Join(",", years.Select(it => $"'{it}'")
                .ToArray()
               );
    var allValues= Model.Values.SelectMany(it => it).ToArray();

}
<text>


    <div id="containerBar" style="height: 100%"></div>

    <script type="text/javascript">
        var dom = document.getElementById('containerBar');
        var myChart = echarts.init(dom, null, {
            renderer: 'canvas',
            useDirtyRect: false
        });
        var app = {};

        var option;

        const posList = [
            'left',
            'right',
            'top',
            'bottom',
            'inside',
            'insideTop',
            'insideLeft',
            'insideRight',
            'insideBottom',
            'insideTopLeft',
            'insideTopRight',
            'insideBottomLeft',
            'insideBottomRight'
        ];
        app.configParameters = {
            rotate: {
                min: -90,
                max: 90
            },
            align: {
                options: {
                    left: 'left',
                    center: 'center',
                    right: 'right'
                }
            },
            verticalAlign: {
                options: {
                    top: 'top',
                    middle: 'middle',
                    bottom: 'bottom'
                }
            },
            position: {
                options: posList.reduce(function (map, pos) {
                    map[pos] = pos;
                    return map;
                }, {})
            },
            distance: {
                min: 0,
                max: 100
            }
        };
        app.config = {
            rotate: 90,
            align: 'left',
            verticalAlign: 'middle',
            position: 'insideBottom',
            distance: 15,
            onChange: function () {
                const labelOption = {
                    rotate: app.config.rotate,
                    align: app.config.align,
                    verticalAlign: app.config.verticalAlign,
                    position: app.config.position,
                    distance: app.config.distance
                };
                myChart.setOption({
                    series: [
                        {
                            label: labelOption
                        },
                        {
                            label: labelOption
                        },
                        {
                            label: labelOption
                        },
                        {
                            label: labelOption
                        }
                    ]
                });
            }
        };
        const labelOption = {
            show: true,
            position: app.config.position,
            distance: app.config.distance,
            align: app.config.align,
            verticalAlign: app.config.verticalAlign,
            rotate: app.config.rotate,
            formatter: '{c}  {name|{a}}',
            fontSize: 16,
            rich: {
                name: {}
            }
        };
        option = {
            tooltip: {
                trigger: 'item',
                axisPointer: {
                    type: 'shadow'
                },
                formatter: function (params, ticket, callback) {
                     return `${params.seriesName}<br />
              ${params.name}: ${params.value} <br />
             `;
                }
            },
            legend: {
                data: [@legendData]
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar', 'stack'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: { show: false },
                    data: [@yAxisData]
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
@foreach (var folder in names)
{
            List<string> dataFolder = [];
            foreach (var year in years) {
                var data = Model[year]
                    .FirstOrDefault(x => x.Name == folder)?
                    .Count.ToString() ?? "null";
                dataFolder.Add(data);
            }
            
<text>
{
name: '@folder',
type: 'bar',
barGap: 0,
label: labelOption,
emphasis: {
    focus: 'series'
        },
data: [@string.Join(",", dataFolder)],
},

</text>        
}
            ]
        };

        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
    </script>

    
    
    
    
</text>