@inherits RazorBlade.PlainTextTemplate<Tuple<KeyValuePair<string,int>[],int>>;
@{
    var top10Files = Model.Item1;
    var medianCommits= Model.Item2;
    var nrVersionIterator = 1;
    string yAxisCommit = "[" + string.Join(',', top10Files.Select(x => x.Value).ToArray()) + "]";
    string xAxisCommit = "[" + string.Join(',', top10Files.Select((x,nr) => Path.GetFileName(x.Key) ).ToArray()) + "]";
    string lineMedian= "[" + string.Join(',',Enumerable.Repeat(medianCommits,top10Files.Length) ) + "]";
}
```mermaid
    xychart-beta horizontal
    title "Top Commits per file ( median @medianCommits )"
    x-axis @xAxisCommit
    bar @yAxisCommit
    line @lineMedian
```

<table>
    <thead>
        <tr>
            <th>Nr</th>
            <th>Number commits</th>
            <th>Name</th>
            <th>Full Path</th>
        </tr>
    </thead>
    <tbody>



@foreach(var file in top10Files)
{
string fileName = Path.GetFileName(file.Key);
            <tr>

        <td>@(nrVersionIterator++) </td>
                <td>@file.Value</td>
                <td>@fileName</td>
                <td>@file.Key</td>
    </tr>
}


</tbody>
</table>
